.colorful-debug(false);

@white:           #FFFFFF;
@black:           #31393C;
@primary-color:   #66717E;
@accent-color:    #357266;
@secondary-color: #D4D6B9;
@shadow-color:    rgba(0, 0, 0, .3);

@hover-animation-time: 180ms;
@hover-animation-function: cubic-bezier(.73, .17, .47, .72);

@primary-font-family: 'Droid Sans';
@secondary-font-family: 'Kreon';

.standart-border-radius {
    border-radius: .1rem;
}

.standart-shadow {
    box-shadow: 0 0 .3rem @shadow-color;
}

.big-shadow {
    box-shadow: 0 0 .8rem darken(@shadow-color, 5%);
}

.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.hover-transition(@what: all) {
    transition: @what @hover-animation-time @hover-animation-function;
}

.colorful-debug(@debug) when (@debug = true) {
    *             { background: rgba(0, 0, 0, .1)       !important; }
    * *           { background: rgba(0, 0, 0, .2)       !important; }
    * * *         { background: rgba(0, 0, 0, .3)       !important; }
    * * * *       { background: rgba(0, 0, 0, .4)       !important; }
    * * * * *     { background: rgba(0, 0, 0, .1)       !important; }
    * * * * * *   { background: rgba(255, 255, 255, .6) !important; }
    * * * * * * * { background: rgba(255, 0, 0, .2)     !important; }
    
    * {
        visibility: visible !important;
    }
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::moz-selection {
    color: @white;
    background: @black;
}

::selection {
    color: @white;
    background: @black;
}

a {
    &:hover {
        cursor: pointer;
    }
    
    &:focus {
        outline: solid 2px rgba(0, 0, 0, .1);
    }
    
    &:active {
        outline: none;
        color: @black;
    }
}

img {
    &.not-loaded {
        height: 15rem;
        position: relative;
        visibility: hidden;
        
        @media screen and (max-width: 900px) {
            height: 10rem;
        }

        &:after {
            content: 'Image not found :(';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            color: lighten(@black, 30%);
            font-size: .8rem;
            visibility: visible;
        }
    }
}

html,
body {
    height: 100%;
    width: 100%;
    background: @secondary-color;
    color: @black;
    font: normal 1rem / 1 @primary-font-family;
}

body {
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        top: -1rem;
        left: 0;
        width: 100%;
        height: 1rem;
        z-index: 100;
        .standart-shadow;
    }
}

.container {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    .clearfix;
}

.wrapper {
    .clearfix;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -3rem;
    
    &:after {
        content: '';
        display: block;
        height: 3rem;
    }
}

header {
    background: @white;
    padding: 1rem;
    width: 100%;
    
    nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            
            li {
                display: inline-block;
                float: right;
                
                &.home {
                    float: left;
                }

                &.right {
                    float: right;
                }
                
                a {
                    text-decoration: none;
                    color: @black;
                    .hover-transition;
                    
                    &:hover {
                        cursor: pointer;
                        color: @accent-color;
                    }
                }
            }
        }
    }
}

aside {
    display: inline-block;
    float: left;
    max-width: 30%;
    margin: 4rem 0;
    
    @media screen and (max-width: 900px) {
        width: 100%;
        max-width: 100%;
    }
    
    .main-info {
        background: @white;
        padding: 1rem;
        min-height: 10rem;
        .standart-border-radius;
        .standart-shadow;
        
        img {
            width: 100%;
                vertical-align: middle;
            .standart-border-radius;
            
            @media screen and (max-width: 900px) {
                width: 8rem;
                display: inline-block;
            }
            
            @media screen and (max-width: 450px) {
                width: 100%;
                max-width: 100%;
                height: auto;
                display: block;
            }
        }
        
        .info {
            @media screen and (max-width: 900px) {
                display: inline-block;
                padding-left: 1rem;
                .clearfix;
                vertical-align: middle;
            }
            
            @media screen and (max-width: 450px) {
                width: 100%;
                max-width: 100%;
                display: block;
                float: none;
                padding-left: 0;
            }
            
            .name {
                margin-top: 1rem;
                font: normal 1.3rem / 1.3 @primary-font-family;
                
                @media screen and (max-width: 550px) {
                    font-size: 1.1rem;
                }
                
                @media screen and (max-width: 450px) {
                    font-size: 1.3rem;
                }
            }

            .description {
                font: normal 1rem / 1.3 @primary-font-family;
                
                @media screen and (max-width: 550px) {
                    font-size: .7rem;
                }
                
                @media screen and (max-width: 450px) {
                    font-size: 1rem;
                }
            }

            ul {
                list-style: none;
                text-align: center;
                margin-top: 1rem;

                @media screen and (max-width: 900px) {
                    text-align: left;
                }

                li {
                    display: inline-block;

                    & + li {
                        margin-left: 1rem;
                        
                        @media screen and (max-width: 1100px) {
                            margin-left: .5rem;
                        }
                        
                        @media screen and (max-width: 1000px) {
                            margin-left: .26rem;
                        }
                        
                        @media screen and (max-width: 470px) {
                            margin-left: .2rem;
                        }
                        
                        @media screen and (max-width: 450px) {
                            margin-left: .5rem;
                        }
                    }

                    a {
                        display: inline-block;
                        background: @black;
                        color: @white;
                        height: 2rem;
                        width: 2rem;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 2rem;
                        font-size: 1.2rem;
                        .hover-transition;

                        &:hover,
                        &:focus {
                            color: @white;
                            cursor: pointer;
                            background: @accent-color;
                        }

                        &:hover {
                            .big-shadow;
                        }
                        
                        .fa.another {
                            font-family: @primary-font-family !important;
                        }
                    }
                }
            }
        } 
    }
    
    .hire {
        @keyframes tada {
            from {
                transform: scale3d(1, 1, 1);
            }

            10%, 20% {
                transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            }

            30%, 50%, 70%, 90% {
                transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            }

            40%, 60%, 80% {
                transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            }

            to {
                transform: scale3d(1, 1, 1);
            }
        }

        background: @accent-color;
        color: @white;
        margin-top: 2rem;
        font: normal 1rem / 1.3 @secondary-font-family;
        padding: 1rem;
        transition: color @hover-animation-function @hover-animation-function;
        animation: 1s linear 2s tada;
        .standart-border-radius;
        .standart-shadow;

        a {
            color: @white;
            text-decoration: underline;

            &:hover {
                color: @black;
            }
        }
    }
}

main {
    display: inline-block;
    float: right;
    max-width: 70%;
    width: 70%;
    padding: 4rem 1rem;
    
    @media screen and (max-width: 900px) {
        max-width: 100%;
        width: 100%;
        padding: 1rem 0;
    }
    
    .page-header {
        background: @white;
        width: 100%;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
    }
    
    article {
        background: @white;
        padding: 1rem;
        margin-bottom: 2rem;
        position: relative;
        z-index: 1;
        width: 100%;
        .standart-border-radius;
        .standart-shadow;
        
        & + article {
            margin-top: 2rem;
        }
        
        .date {
            background: @primary-color;
            color: @white;
            position: absolute;
            top: 1rem;
            right: -1rem;
            padding: 1rem;
            z-index: auto;
            
            &:before {
                content: '';
                position: absolute;
                right: .05rem;
                bottom: -.55rem;
                height: 0;
                width: 0;
                border-color: transparent transparent darken(@primary-color, 20%) transparent;
                border-width: 0 .7rem .7rem .7rem;
                border-style: solid;
                transform: rotate(-45deg);
                z-index: -1;
            }
        }
        
        .title {
            font: bold 2rem / 1.6 @secondary-font-family;
            padding-right: 7rem;
            
            .category-icon {
                padding-right: 1rem;
            }
            
            a {
                text-decoration: none;
                color: @black;
                .hover-transition;
                
                &:hover,
                &:focus {
                    color: @accent-color;
                }
            }
        }
        
        img {
            width: 100%;
            margin: 1rem 0;
        }
        
        p {
            text-align: justify;
            text-justify: inter-word;
            line-height: 1.4;
            margin: 1rem 0;
            
            @media screen and (min-width: 1100px) {
                font-size: 1.1rem;
            }
        }
        
        ul.tags {
            list-style: none;
            display: inline-block;
            float: left;
            margin-top: 2rem;
            
            .fa {
                color: lighten(@black, 20%);
                margin-right: .5rem;
                font-size: .8rem;
            }
            
            li {
                display: inline-block;
                
                &:not(:last-child) {
                    margin-right: .5rem;
                    
                    &:after {
                        content: ",";
                        color: lighten(@black, 20%);
                    }
                }
                
                a {
                    font-size: .8rem;
                    text-decoration: none;
                    color: lighten(@black, 20%);
                    .hover-transition;
                    
                    &:hover,
                    &:focus {
                        color: @accent-color;
                    }
                }
            }
        }
        
        a {
            color: @accent-color;
            .hover-transition;
            
            &:visited {
                color: @accent-color;
            }
            
            &:hover {
                color: @black;
            }
        }
        
        a.read-more {
            background: @accent-color;
            color: @white;
            display: inline-block;
            float: right;
            margin-top: 1rem;
            padding: 1rem;
            font: bold 1rem / 1 @secondary-font-family;
            text-decoration: none;
            text-transform: uppercase;
            
            .standart-border-radius;
            .standart-shadow;
            .hover-transition;
            
            &:hover,
            &:focus {
                background: darken(@accent-color, 10%);
                color: @white;
                .big-shadow;
            }
        }
    }
    
    .pagination {
        margin: 4rem 0 1rem;
        text-align: center;
        
        .prev,
        .next {
            display: inline-block;
            margin: 0 1rem;
            background: @white;
            color: @black;
            padding: 1rem;
            .standart-border-radius;
            .standart-shadow;
            
            a {
                color: @black;
                text-decoration: none;
                text-transform: uppercase;
                .hover-transition;
                
                &:hover {
                    cursor: pointer;
                }
                
                &:focus,
                &:hover {
                    color: @accent-color;
                }
            }
        }
        
        .prev {
            .fa {
                padding-right: .2rem;
            }
        }
        
        .next {
            .fa {
                padding-left: .2rem;
            }
        }
    }
    
    .spinner {
        @keyframes spinner-rotate {
            from { transform: rotate(0); }
            to   { transform: rotate(360deg); }
        }

        box-sizing: border-box;
        height: 2rem;
        width: 2rem;
        margin: 1rem auto -2rem;
        border-radius: 50%;
        border: .2rem solid @black;
        background: linear-gradient(to bottom, @secondary-color 0%, @secondary-color 50%, @black 51%, @black 100%);
        animation: 2s spinner-rotate linear infinite;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            height: 1.5rem;
            width: 1.5rem;
            background: @black;
            transform: translateX(-50%) translateY(-50%);
            border-radius: 50%;
        }
    }
}

footer {
    background: @white;
    padding: 1rem;
    text-align: center;
    height: 3rem;
    margin-top: 2rem;
    .standart-shadow;
}

.highlight {
    margin: 1rem 0;
    color: #fdce93;
    background-color: #3f3f3f;
    padding: 1rem;
    overflow-x: scroll;
    
    code,
    pre {
        color: #fdce93;
        background-color: #3f3f3f;
    }

    .hll {
        background-color: #222;
    }

    .err {
        color: #e37170;
        background-color: #3d3535;
    }

    .k {
        color: #f0dfaf;
    }

    .p {
        color: #41706f;
    }

    .cs {
        color: #cd0000;
        font-weight: 700;
    }

    .gd {
        color: #cd0000;
    }

    .ge {
        color: #ccc;
        font-style: italic;
    }

    .gr {
        color: #f00;
    }

    .go {
        color: #777;
    }

    .gs {
        color: #ccc;
        font-weight: 700;
    }

    .gu {
        color: purple;
        font-weight:700;
    }

    .gt {
        color: #0040D0;
    }

    .kc {
        color: #dca3a3;
    }

    .kd {
        color: #ffff86;
    }

    .kn {
        color: #dfaf8f;
        font-weight: 700;
    }

    .kp {
        color: #cdcf99;
    }

    .kr {
        color: #cdcd00;
    }

    .ni {
        color: #c28182;
    }

    .ne {
        color: #c3bf9f;
        font-weight: 700;
    }

    .nn {
        color: #8fbede;
    }

    .vi {
        color: #ffffc7;
    }

    .c {
        color: #7f9f7f;
    }

    .l{
        color:#ccc;
    }

    .n {
        color:#dcdccc;
    }

    .o {
        color:#f0efd0;
    }

    .gh {
        color:#dcdccc;
        font-weight:700;
    }

    .gi{
        color:#00cd00;
    }

    .ld {
        color:#cc9393;
    }

    .m {
        color:#8cd0d3;
    }

    .na {
        color:#9ac39f;
    }

    .nb {
        color:#efef8f;
    }
}


  
