<aside>
    <div class='mui-row'>
        <div class='mui-column -s12'>
            <div class='( mui-card -profile ) _text-center'>
                <div class='content'>
                    <div class='row'>
                        <div class='mui-column -s4 -m12'>
                            <div class='avatar-wrapper'>
                                <img class='mui-image -circle mui-lazy-load' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-src='https://habrastorage.org/files/d5b/d5b/bed/d5bd5bbed4b24e9fa61f098a04aae6fe.jpg' alt='my photo'>
                                <img class='mui-image -circle -avatar mui-lazy-load' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-src='https://avatars3.githubusercontent.com/u/7127382?v=3&s=460' alt='avatar'>
                            </div>
                        </div>
                        <div class='mui-column -s8 -m12'>
                            <div class='name'>Ivan Bogachev</div>
                            <div class='description'>Musician and Front-End Developer</div>
                            <div class='nickname'><a class='twitter-link' href='https://twitter.com/sfi0zy'>@sfi0zy</a></div>
                            <ul class='social-icons'>
                                <li><a class='mui-button -icon' href='https://github.com/{{ site.github_username }}'><i class='fa fa-github'></i></a></li>
                                <li><a class='mui-button -icon' href='https://linkedin.com/in/{{ site.linkedin_username }}'><i class='fa fa-linkedin'></i></a></li>
                                <li><a class='mui-button -icon' href='https://codepen.io/{{ site.codepen_username }}'><i class='fa fa-codepen'></i></a></li>
                                <li><a class='mui-button -icon' href='https://toster.ru/user/{{ site.toster_username }}'><i class='fa another'>T</i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='mui-column -s12'>
            <div class='( mui-card -hire ) _text-center _z-depth-5'>I'm looking for a job now. I'm interested in half-time job in Moscow or remote. If You have a job offer - just contact me with social media listed under my photo or by email (<a href='mailto:sfi0zy@gmail.com'>sfi0zy@gmail.com</a>)</div>
        </div>
    </div>
</aside>
