<!-- aside-column -->
<aside class='mui-column -aside -s12 -m4 -l3'>
    <!-- content-container -->
    <div class='mui-content-container -sticky' id='aside-content'>

        <!-- card (photo & info) -->
        <div class='mui-card _shadow-1 _separate-1'>
            <div class='content -white-bg _text-center'>
                <div class='mui-row -s-middle -m-top'>
                    <div class='mui-column -s12 -m12'>
                        {% assign svgurl = './images/d5bd5bbed4b24e9fa61f098a04aae6fe.jpg.svg' %}
                        <div class='lazy-image-wrapper' data-modal-opener='modal-my-portrait'>
                            {% svg '{{ svgurl }}' class='mui-image -rounded -placeholder' %}
                            <img class='mui-image -rounded -js-lazy-load' data-src='/images/d5bd5bbed4b24e9fa61f098a04aae6fe.jpg' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='My portrait' itemprop='image'>
                            <noscript>
                                <img class='mui-image -rounded' src='/images/d5bd5bbed4b24e9fa61f098a04aae6fe.jpg' alt='my photo' itemprop='image'>
                            </noscript>
                        </div>
                    </div>
                    <div class='mui-column -s12 -m12'>
                        <div class='_separate-1 _smaller-1'>
                            <div itemprop='description'>UI developer</div>
                            <div class='-grey-4'>@<span itemprop='alternateName'>sfi0zy</span></div>
                        </div>
                        <div class='contacts-icons _separate-1'>
                            <a class='mui-button -icon -contact -blue-2-bg -white -f-white -f-blue-4-bg' href='https://habr.com/users/sfi0zy/' title='My profile on Habr.com'><b role='presentation'>h</b></a>
                            <a class='mui-button -icon -contact -grey-5-bg -white -f-white -f-blue-4-bg' href='https://codepen.io/sfi0zy' title='My profile on CodePen'><i class='fa fa-codepen' role='presentation'></i></a>
                            <a class='mui-button -icon -contact -blue-3-bg -f-blue-4-bg' href='https://t.me/sfi0zy' title='My Telegram'><svg class='mui-svg-icon -white'><use xlink:href='#mui-svg-icon--plane'></use></svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /card (photo & info) -->

        <!-- card (looking for job) -->
        <!--<div class='mui-card -white -green-3-bg _shadow-1 _separate-1'>
            <div class='content -white _text-center _smaller-1'>
                <div class='_bigger-3'>
                    <svg class='mui-svg-icon -white'>
                        <use xlink:href='#mui-svg-icon--star'></use>
                    </svg>
                </div>
                <p>Hire me!<br><span itemprop='email'>sfi0zy@gmail.com</span></p>
            </div>
        </div>-->
        <!-- /card (looking for job) -->

        <!-- card (question) -->
        <div class='mui-card -white-bg _shadow-1 _separate-1'>
            <div class='content _text-center _smaller-1'>
                <div class='_bigger-3'>
                    <span>?</span>
                </div>
                <p>Have a question?<br><br>Feel free to write me. Usually I'm online from 10 am to 6 pm Moscow time.<br><br>sfi0zy@gmail.com</p>
            </div>
        </div>
        <!-- /card (question) -->

        <!-- card (tags) -->
        <div class='mui-card _shadow-1 _separate-1'>
            <div class='content -white-bg _text-center _smaller-1'>
                <div class='tags-cloud' role='navigation' aria-label='Tags cloud'>
                    {% assign tags = site.tags | sort %}
                    {% for tag in tags %}
                        <span class='tag _no-break'>
                            <a href='/{{ site.tags_dir }}/{{ tag | first | slugify }}/'
                                    style='font-size: {{ tag | last | size  |  times: 1.5 | plus: 80  }}%' title='Search posts for tag {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }} posts total)'>
                                    {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})</a>
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /card (tags) -->

        <!-- card (rss) -->
        <div class='mui-card _shadow-1 _separate-1'>
            <div class='content -white-bg _text-center _smaller-1'>
                <a href='/feed.xml'>
                    <svg class='mui-svg-icon'>
                        <use xlink:href='#mui-svg-icon--rss'></use>
                    </svg>
                    <span>RSS</span>
                </a>
            </div>
        </div>
        <!-- /card (rss) -->

    </div>
    <!-- /content-container -->
</aside>

{% assign svgurl = './images/d5bd5bbed4b24e9fa61f098a04aae6fe.jpg.svg' %}
<div class='mui-modal-window' id='modal-my-portrait'>
    <div class='window _shadow-3'>
        <div class='lazy-image-wrapper'>
            {% svg '{{ svgurl }}' class='mui-image -rounded -placeholder' %}
            <img class='mui-image -rounded -js-lazy-load' data-src='/images/d5bd5bbed4b24e9fa61f098a04aae6fe.jpg' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='My portrait' itemprop='image'>
        </div>
        <div class='closeicon'>
            <svg class='mui-svg-icon'>
                <use xlink:href='#mui-svg-icon--close'></use>
            </svg>
        </div>
    </div>
    <div class='mui-shadow-toggle'></div>
</div>

{% assign svgurl = './images/633fa4319ac8fa20cd053817707e24b4.jpg.svg' %}
<div class='mui-modal-window' id='modal-flamenco-method-preview'>
    <div class='window _shadow-3'>
        <div class='lazy-image-wrapper'>
            {% svg '{{ svgurl }}' class='mui-image -rounded -placeholder' %}
            <img class='mui-image -rounded -js-lazy-load' data-src='/images/633fa4319ac8fa20cd053817707e24b4.jpg' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='Flamenco guitar method preview' itemprop='image'>
        </div>
        <div class='closeicon'>
            <svg class='mui-svg-icon'>
                <use xlink:href='#mui-svg-icon--close'></use>
            </svg>
        </div>
    </div>
    <div class='mui-shadow-toggle'></div>
</div>

{% assign svgurl = './images/2980530a86179302a582ca7e7751cefa.jpg.svg' %}
<div class='mui-modal-window' id='collection-of-pieces-preview'>
    <div class='window _shadow-3'>
        <div class='lazy-image-wrapper'>
            {% svg '{{ svgurl }}' class='mui-image -rounded -placeholder' %}
            <img class='mui-image -rounded -js-lazy-load' data-src='/images/2980530a86179302a582ca7e7751cefa.jpg' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='Collection of pieces preview' itemprop='image'>
        </div>
        <div class='closeicon'>
            <svg class='mui-svg-icon'>
                <use xlink:href='#mui-svg-icon--close'></use>
            </svg>
        </div>
    </div>
    <div class='mui-shadow-toggle'></div>
</div>
<!-- /aside-column -->

