<aside role='complementary'>
    <div class='mui-row' role='presentation'>
        <div class='mui-column -s12' role='presentation'>
            <div class='( mui-card -profile ) _text-center' role='presentation'>
                <div class='content' role='presentation'>
                    <div class='row' role='presentation'>
                        <div class='mui-column -s4 -m12' role='presentation'>
                            <div class='avatar-wrapper' role='img'>
                                <img class='mui-image -circle mui-lazy-load' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-src='https://habrastorage.org/files/d5b/d5b/bed/d5bd5bbed4b24e9fa61f098a04aae6fe.jpg' alt='my photo'>
                                <img class='mui-image -circle -avatar mui-lazy-load' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-src='https://avatars3.githubusercontent.com/u/7127382?v=3&s=460' alt='my avatar'>
                            </div>
                        </div>
                        <div class='mui-column -s8 -m12' role='presentation'>
                            <div class='name' aria-label='My name'>Ivan Bogachev</div>
                            <div class='description' aria-label='About me'>Musician and Front-End Developer</div>
                            <div class='nickname' aria-label='My nickname'><a class='twitter-link' href='https://twitter.com/sfi0zy' role='link'>@sfi0zy</a></div>
                            <ul class='social-icons' role='presentation'>
                                <li role='presentation'>
                                    <a class='mui-button -icon' href='https://github.com/{{ site.github_username }}' role='link' aria-label='Link to my profile on github.com'>
                                        <i class='fa fa-github' role='presentation'></i>
                                    </a>
                                </li>
                                <li role='presentation'>
                                    <a class='mui-button -icon' href='https://linkedin.com/in/{{ site.linkedin_username }}' role='link' aria-label='Link to my profile on linkedin.com'>
                                        <i class='fa fa-linkedin' role='presentation'></i>
                                    </a>
                                </li>
                                <li role='presentation'>
                                    <a class='mui-button -icon' href='https://codepen.io/{{ site.codepen_username }}' role='link' aria-label='Link to my profile on codepen.io'>
                                        <i class='fa fa-codepen' role='presentation'></i>
                                    </a>
                                </li>
                                <li role='presentation'>
                                    <a class='mui-button -icon -toster' href='https://toster.ru/user/{{ site.toster_username }}' role='link' aria-label='Link to my profile on toster.ru'>T</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='mui-column -s12' role='presentation'>
            <div class='( mui-card -hire ) _text-center _z-depth-5' role='presentation'>I'm looking for a job now. I'm interested in half-time job in Moscow or remote. If You have a job offer - just contact me with social media listed under my photo or by email (<a href='mailto:sfi0zy@gmail.com' role='link' aria-label='Send me an email'>sfi0zy@gmail.com</a>)</div>
        </div>
        <div class='mui-column -s12' role='presentation'>
            <div class='( mui-card -tags ) _text-center' role='presentation'>
                <div class='tags-cloud' role='navigation' aria-label='Tags cloud'>
                    {% assign tags = site.tags | sort %}
                    {% for tag in tags %}
                        <span class='tag _no-break' role='presentation'>
                            <a href='/{{ site.tags_dir }}/{{ tag | first | slugify }}/'
                                    style='font-size: {{ tag | last | size  |  times: 8 | plus: 70  }}%' role='link' aria-label='Search posts for tag "{{ tag[0] | replace:'-', ' ' }}" ({{ tag | last | size }} posts total)'>
                                    {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})</a>
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if page.url == '/' %}
            <div class='mui-column -s12' role='presentation'>
                <div class='mui-card -twitter' role='group' aria-label='My latest tweets'>
                    <a class='twitter-timeline' data-tweet-limit='3' href='https://twitter.com/sfi0zy' role='link'>Tweets by sfi0zy</a>
                </div>
            </div>
        {% endif %}

    </div>
</aside>
