<p class='codepen'
    data-height='400'
    data-theme-id='light'
    data-default-tab='result'
    data-slug-hash='{{ include.hash }}'
    data-preview='true'
    data-user='sfi0zy'
    style='height: 400px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;'>
  <span>See the Pen <a href='https://codepen.io/sfi0zy/pen/{{ include.hash }}'>
  Waves</a> by Ivan Bogachev (<a href='https://codepen.io/sfi0zy'>@sfi0zy</a>)
  on <a href='https://codepen.io'>CodePen</a>.</span>
</p>
