<header class='mui-page-header _text-right'>
    <div class='mui-content-container'>
        <nav class='mui-header-navigation'>
            <div class='mui-navigation-toggle -hamburger'>
                <i class='fa fa-bars'></i>
            </div>
            <ul class='links-list'>
                <li class='_align-left'><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="https://codepen.io/sfi0zy/">See more on CodePen</a></li>
            </ul>
            <div class='mui-navigation-toggle mui-shadow-toggle'></div>
        </nav>
    </div>
</header>
