<!DOCTYPE html>
<html lang='en'>
    {% include head.html %}
    <body>
        <div class='mui-page-container' role='presentation'>
            {% include header.html %}
            <div class='mui-content-container' role='presentation'>
                <div class='mui-row' role='presentation'>
                    <div class='mui-column -w-margin -s12 -m5 -l4' role='presentation'>
                        {% include aside.html %}
                    </div>
                    <div class='mui-column -w-margin -s12 -m7 -l8' role='presentation'>
                        <main role='main'>
                            {{ content }}
                        </main>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
