---
layout: default
---

<article>
    <div class="title">
        <a href="/" onclick="window.history.back();"><i class="category-icon fa fa-reply"></i></a>
        {% if page.categories[0] == "codepen" %}
            <i class="category-icon fa fa-codepen"></i>
        {% elsif page.categories[0] == "bookmark" %}
            <i class="category-icon fa fa-bookmark"></i>
        {% elsif page.categories[0] == "dev" %}
            <i class="category-icon fa fa-cogs"></i>
        {% else %}
            <i class="category-icon fa fa-wpforms"></i>
        {% endif %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    </div>
    <p>{{ page.content | split:'<!--cut-->' | first }}</p>
    <div class="wrapper">
       <ul class="tags">
            <i class="fa fa-tags"></i>
            {% for tag in page.tags %}
            <li><a href="/search/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
</article>