---
layout: default
---

<article itemscope itemtype='https://schema.org/Blog'>
    <header>
        <h2 itemprop='headline'><a href='{{ page.url }}'>{{ page.title }}</a></h2>
        <div>
            <small itemprop='datePublished'>{{ page.date | date: '%B %-d, %Y' }}</small>
        </div>
        <div>
            {%- if page.icon == 'achievement' -%}
                <svg><use xlink:href='#svg-icon--gem'></use></svg>
            {%- elsif page.icon == 'publication' -%}
                <svg><use xlink:href='#svg-icon--feather'></use></svg>
            {%- endif -%}
        </div>
    </header>
    <div>
        {%- assign svgurl = '.' | append: page.thumb | append: '.svg' -%}
        <div class='lazy-image'>
            {%- svg '{{ svgurl }}' -%}
            <img src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-src='{{ page.thumb }}' alt='{{ page.title }}'>
            <noscript>
                <img src='{{ page.thumb }}' alt='{{ page.title }}' itemprop='image'>
            </noscript>
        </div>

        <div>{{ page.content }}</div>
    </div>
    <footer>
        <span>Tags:</span>
        <ul>
        {%- for tag in page.tags -%}
            <li>
                <a href='/{{ site.tags_dir }}/{{ tag }}/'>{{ tag }}</a>
            </li>
        {%- endfor -%}
        </ul>
    </footer>
</article>

<!--noindex-->
<!--googleoff: index-->
<aside>
    <article>
        <header>
            <h2>Related posts</h2>
        </header>

        {%- assign posts_needed = 3 -%}
        {%- assign posts_found = 0 -%}
        {%- assign shuffled_posts = site.posts | shuffle -%}
        {%- for common_tags_required in (1..2) reversed -%}
            {%- for post in shuffled_posts -%}
                {%- if post.outdated == true -%}
                    {%- continue -%}
                {%- elsif post.url == page.url -%}
                    {%- continue -%}
                {%- endif -%}
                {%- assign number_of_common_tags = 0 -%}
                {%- for tag in post.tags -%}
                    {%- if page.tags contains tag -%}
                        {%- assign number_of_common_tags = number_of_common_tags | plus: 1 -%}
                    {%- endif -%}
                {%- endfor -%}
                {%- if number_of_common_tags >= common_tags_required -%}
                    <h3><a href='{{ post.url }}'>{{ post.title }}</a></h3>
                    {%- assign svgurl = '.' | append: post.thumb | append: '.svg' -%}
                    <div class='lazy-image'>
                        {%- svg '{{ svgurl }}' -%}
                        <img data-src='{{ post.thumb }}' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='{{ post.title }}'>
                        <noscript>
                            <img src='{{ post.thumb }}' alt='{{ post.title }}' itemprop='image'>
                        </noscript>
                    </div>
                    {%- assign posts_found = posts_found | plus: 1 -%}
                    {%- if posts_found >= posts_needed -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
            {%- if posts_found >= posts_needed -%}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
    </article>
</aside>

<!--googleon: index-->
<!--/noindex-->

{%- include tags_cloud.html -%}

