---
layout: default
---

<!-- post -->
<article class='mui-post -white-bg _shadow-1 _separate-1' itemscope itemtype='https://schema.org/Blog'>
    <!-- post-header -->
    <header class='mui-post-header'>
        <div class='title'>
            <a class='-grey-5 -f-blue-4' href='{{ page.url }}' aria-label='Post {{ page.title }}' itemprop='url'>
                <h2 class='heading _bigger-3' itemprop='headline'>{{ page.title }}</h2>
            </a>
        </div>
        <div class='information -grey-4 _smaller-1'>

            {% if page.icon == 'hotoncodepen' %}
                <span class='post-badge' title='Hot on CodePen'>
                    <svg class='mui-svg-icon'>
                        <use xlink:href='#mui-svg-icon--codepen'></use>
                    </svg>
                    <svg class='mui-svg-icon -red-3'>
                        <use xlink:href='#mui-svg-icon--fire'></use>
                    </svg>
                </span>
            {% endif %}
            {% if page.icon == 'achievement' %}
                <span class='post-badge' title='Achievement'>
                    <svg class='mui-svg-icon -cyan-3'>
                        <use xlink:href='#mui-svg-icon--gem'></use>
                    </svg>
                </span>
            {% endif %}
            {% if page.icon == 'conversation' %}
                <span class='post-badge' title='Conversation'>
                    <svg class='mui-svg-icon -blue-3'>
                        <use xlink:href='#mui-svg-icon--conversation'></use>
                    </svg>
                </span>
            {% endif %}

            {% if page.tags contains 'travel' %}
                <span class='post-badge' title='Travel'>
                    <svg class='mui-svg-icon -green-4'>
                        <use xlink:href='#mui-svg-icon--map'></use>
                    </svg>
                </span>&nbsp;
            {% endif %}
            {% if page.tags contains 'podcast' %}
                <span class='post-badge' title='Podcast'>
                    <svg class='mui-svg-icon -orange-4'>
                        <use xlink:href='#mui-svg-icon--podcast'></use>
                    </svg>
                </span>
            {% endif %}
            {% if page.tags contains 'publications' %}
                <span class='post-badge' title='Publication'>
                    <svg class='mui-svg-icon -brown-4'>
                        <use xlink:href='#mui-svg-icon--feather'></use>
                    </svg>
                </span>
                {% if page.tags contains 'habrahabr' %}
                    {% if page.rating > 0 %}
                        <span class='post-badge -green-3' title='Rating on Habr.com'>+{{ page.rating }}&nbsp;</span>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if page.tags contains 'music' %}
                <span class='post-badge' title='Music'>
                    <svg class='mui-svg-icon'>
                        <use xlink:href='#mui-svg-icon--music'></use>
                    </svg>
                </span>&nbsp;
            {% endif %}
            {% if page.tags contains 'psychology' %}
                <span class='post-badge' title='Psychology'>
                    <svg class='mui-svg-icon -violet-3'>
                        <use xlink:href='#mui-svg-icon--brain'></use>
                    </svg>
                </span>&nbsp;
            {% endif %}


            <span>Published on</span>
            <span class='date' itemprop='datePublished'>{{ page.date | date: '%B %-d, %Y' }}</span>
        </div>
    </header>
    <!-- /post-header -->

    <!-- post-content -->
    <div class='mui-post-content' itemprop='text'>
        {% assign svgurl1 = '.' | append: page.thumb | append: '-1.svg' %}
        {% assign svgurl2 = '.' | append: page.thumb | append: '-2.svg' %}
        {% assign modal_random_id = "now" | date: "%N" | modulo: 1000000 %}
        <div class='lazy-image-wrapper' data-modal-opener='modal-{{ modal_random_id }}'>
            {% svg '{{ svgurl1 }}' class='mui-image -rounded -placeholder' %}
            <img class='mui-image -rounded -js-lazy-load' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' data-src='{{ page.thumb }}' alt='{{ page.title }} preview' itemprop='image'>
            <noscript>
                <img class='mui-image -rounded' src='{{ page.thumb }}' alt='{{ page.title }} preview' itemprop='image'>
            </noscript>
        </div>
        <div class='mui-modal-window' id='modal-{{ modal_random_id }}'>
            <div class='window _shadow-3'>
                <div class='lazy-image-wrapper'>
                    {% svg '{{ svgurl2 }}' class='mui-image -rounded -placeholder' %}
                    <img class='mui-image -rounded -js-lazy-load' data-src='{{ page.thumb }}' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='{{ page.title }} preview' itemprop='image'>
                </div>
                <div class='closeicon'>
                    <svg class='mui-svg-icon'>
                        <use xlink:href='#mui-svg-icon--close'></use>
                    </svg>
                </div>
            </div>
            <div class='mui-shadow-toggle'></div>
        </div>

        {{ page.content | split:'<!--cut-->' | first }}
    </div>
    <!-- /post-content -->

    <!-- post-footer -->
    <footer class='mui-post-footer'>
        <!-- tags-list -->
        <div class='mui-tags-list'>
            <div class='mui-tag-wrapper -icon'>
                <svg class='mui-svg-icon'>
                    <use xlink:href='#mui-svg-icon--tags'></use>
                </svg>
            </div>
            {% for tag in page.tags %}
                <div class='mui-tag-wrapper' itemprop='keywords'>
                    <a class='mui-tag' href='/{{ site.tags_dir }}/{{ tag }}/'
                            title='Search by tag {{ tag }}'>{{ tag }}</a>
                </div>
            {% endfor %}
        </div>
        <!-- /tags-list -->

        <!-- share links -->
        <div class='_separate-top-1'>
            <a class='mui-button -icon -white -green-3-bg -f-white -f-blue-4-bg' target='_blank' href='https://twitter.com/intent/tweet?text={{ page.title }} {{ page.url  | prepend: site.baseurl | prepend: site.url }} by @sfi0zy' title='Share this page on Twitter'><svg class='mui-svg-icon -white'><use xlink:href='#mui-svg-icon--twitter'></use></svg></a>
            <a class='mui-button -icon -white -green-3-bg -f-white -f-blue-4-bg' target='_blank' href='http://vk.com/share.php?url={{ page.url  | prepend: site.baseurl | prepend: site.url }}&title=@sfi0zy - {{ page.title }}' title='Share this page on VK'><svg class='mui-svg-icon -white'><use xlink:href='#mui-svg-icon--vk'></use></svg></a>
            <a class='mui-button -icon -white -green-3-bg -f-white -f-blue-4-bg' target='_blank' href='https://www.facebook.com/sharer/sharer.php?u={{ page.url  | prepend: site.baseurl | prepend: site.url }}' title='Share this page on Facebook'><svg class='mui-svg-icon -white'><use xlink:href='#mui-svg-icon--facebook'></use></svg></a>
        </div>
        <!-- /share links -->
    </footer>
    <!-- /post-footer -->
</article>
<!-- /post -->


<!-- similar-posts -->
<!--noindex-->
<!--googleoff: index-->
<div class='mui-card -white-bg _shadow-1 _separate-1'>
    <div class='header _text-left'>
        <h2 class='_bigger-1 _padding-lr-1'>Related posts</h2>
    </div>
    <div class='content'>
        {% assign maxRelated = 3 %}
        {% assign maxRelatedCounter = 0 %}
        {% assign minCommonTags = 2 %}

        {% assign shuffledPosts = site.posts | shuffle %}

        {% for post in shuffledPosts %}
            {% assign sameTagCounter = 0 %}
            {% assign commonTags = '' %}

            {% for tag in post.tags %}
                {% if post.url != page.url %}
                    {% if page.tags contains tag %}
                        {% assign sameTagCounter = sameTagCounter | plus: 1%}
                        {% capture tagMarkup %}
                            <div class='mui-tag-wrapper _smaller-1'>
                                <a class='mui-tag' href='/{{ site.tags_dir }}/{{ tag }}' title='Search by tag {{ tag }}'>{{ tag }}</a>
                            </div>
                        {% endcapture %}
                        {% assign commonTags = commonTags | append: tagMarkup %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if sameTagCounter >= minCommonTags %}
                {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                {% if maxRelated >= maxRelatedCounter %}
                    <div class='mui-row _padding-lr-1' itemscope itemtype='https://schema.org/Blog'>
                        <div class='mui-column -s12 -m4 _separate-1'>
                            {% assign svgurl1 = '.' | append: post.thumb | append: '-1.svg' %}
                            {% assign svgurl2 = '.' | append: post.thumb | append: '-2.svg' %}
                            {% assign modal_random_id = "now" | date: "%N" | modulo: 1000000 %}
                            <div class='lazy-image-wrapper' data-modal-opener='modal-{{ modal_random_id }}'>
                                {% svg '{{ svgurl1 }}' class='mui-image -rounded -placeholder' %}
                                <img class='mui-image -rounded -js-lazy-load' data-src='{{ post.thumb }}' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='{{ post.title }} - post preview' itemprop='image'>
                                <noscript>
                                    <img class='mui-image -rounded' src='{{ post.thumb }}' alt='{{ post.title }} - post preview' itemprop='image'>
                                </noscript>
                            </div>
                            <div class='mui-modal-window' id='modal-{{ modal_random_id }}'>
                                <div class='window _shadow-3'>
                                    <div class='lazy-image-wrapper'>
                                        {% svg '{{ svgurl2 }}' class='mui-image -rounded -placeholder' %}
                                        <img class='mui-image -rounded -js-lazy-load' data-src='{{ post.thumb }}' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='{{ post.title }} - post preview' itemprop='image'>
                                    </div>
                                    <div class='closeicon'>
                                        <svg class='mui-svg-icon'>
                                            <use xlink:href='#mui-svg-icon--close'></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class='mui-shadow-toggle'></div>
                            </div>
                        </div>
                        <div class='mui-column -s12 -m8 _separate-1 _padding-lr-1'>
                            <a href='{{ post.url }}' aria-label='Post {{ post.title }}' itemprop='url'>
                                <h3 class='_bigger-1' itemprop='headline'>{{ post.title }}</h3>
                            </a>
                            <div class='mui-row -grey-4 _smaller-1'>
                                {% if post.icon == 'hotoncodepen' %}
                                    <span class='post-badge' title='Hot on CodePen'>
                                        <svg class='mui-svg-icon'>
                                            <use xlink:href='#mui-svg-icon--codepen'></use>
                                        </svg>
                                        <svg class='mui-svg-icon -red-3'>
                                            <use xlink:href='#mui-svg-icon--fire'></use>
                                        </svg>
                                    </span>&nbsp;
                                {% endif %}
                                {% if post.icon == 'achievement' %}
                                    <span class='post-badge' title='Achievement'>
                                        <svg class='mui-svg-icon -cyan-3'>
                                            <use xlink:href='#mui-svg-icon--gem'></use>
                                        </svg>
                                    </span>&nbsp;
                                {% endif %}
                                {% if post.icon == 'conversation' %}
                                    <span class='post-badge' title='Conversation'>
                                        <svg class='mui-svg-icon -blue-3'>
                                            <use xlink:href='#mui-svg-icon--conversation'></use>
                                        </svg>
                                    </span>&nbsp;
                                {% endif %}

                                {% if post.tags contains 'travel' %}
                                    <span class='post-badge' title='Travel'>
                                        <svg class='mui-svg-icon -green-4'>
                                            <use xlink:href='#mui-svg-icon--map'></use>
                                        </svg>
                                    </span>&nbsp;
                                {% endif %}
                                {% if post.tags contains 'podcast' %}
                                    <span class='post-badge' title='Podcast'>
                                        <svg class='mui-svg-icon -orange-4'>
                                            <use xlink:href='#mui-svg-icon--podcast'></use>
                                        </svg>
                                    </span>&nbsp;
                                {% endif %}
                                {% if post.tags contains 'publications' %}
                                    <span class='post-badge' title='Publication'>
                                        <svg class='mui-svg-icon -brown-4'>
                                            <use xlink:href='#mui-svg-icon--feather'></use>
                                        </svg>
                                    </span>&nbsp;
                                    {% if post.tags contains 'habrahabr' %}
                                        {% if post.rating > 0 %}
                                            <span class='post-badge -green-3' title='Rating on Habr.com'>+{{ post.rating }}&nbsp;</span>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if post.tags contains 'music' %}
                                    <span class='post-badge' title='Music'>
                                        <svg class='mui-svg-icon'>
                                            <use xlink:href='#mui-svg-icon--music'></use>
                                        </svg>
                                    </span>&nbsp;
                                {% endif %}
                                {% if post.tags contains 'psychology' %}
                                    <span class='post-badge' title='Psychology'>
                                        <svg class='mui-svg-icon -violet-3'>
                                            <use xlink:href='#mui-svg-icon--brain'></use>
                                        </svg>
                                    </span>&nbsp;
                                {% endif %}

                                <span itemprop='datePublished'>{{ post.date | date: '%B %-d, %Y' }}</span>
                            </div>
                            <div class='mui-tags-list'>
                                <div class='mui-tag-wrapper -icon _smaller-1'>
                                    <svg class='mui-svg-icon'>
                                        <use xlink:href='#mui-svg-icon--tags'></use>
                                    </svg>
                                </div>
                                {{ commonTags }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}


        {% if maxRelatedCounter < 1 %}
            {% assign minCommonTags = 1 %}
            {% for post in shuffledPosts %}
                {% assign sameTagCounter = 0 %}
                {% assign commonTags = '' %}

                {% for tag in post.tags %}
                    {% if post.url != page.url %}
                        {% if page.tags contains tag %}
                            {% assign sameTagCounter = sameTagCounter | plus: 1%}
                            {% capture tagMarkup %}
                                <div class='mui-tag-wrapper _smaller-1'>
                                    <a class='mui-tag' href='/{{ site.tags_dir }}/{{ tag }}' title='Search by tag {{ tag }}'>{{ tag }}</a>
                                </div>
                            {% endcapture %}
                            {% assign commonTags = commonTags | append: tagMarkup %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if sameTagCounter >= minCommonTags %}
                    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                    {% if maxRelated >= maxRelatedCounter %}
                        <div class='mui-row _padding-lr-1' itemscope itemtype='https://schema.org/Blog'>
                            <div class='mui-column -s12 -m4 _separate-1'>
                                {% assign svgurl1 = '.' | append: post.thumb | append: '-1.svg' %}
                                {% assign svgurl2 = '.' | append: post.thumb | append: '-2.svg' %}
                                {% assign modal_random_id = "now" | date: "%N" | modulo: 1000000 %}
                                <div class='lazy-image-wrapper' data-modal-opener='modal-{{ modal_random_id }}'>
                                    {% svg '{{ svgurl1 }}' class='mui-image -rounded -placeholder' %}
                                    <img class='mui-image -rounded -js-lazy-load' data-src='{{ post.thumb }}' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='{{ post.title }} - post preview' itemprop='image'>
                                    <noscript>
                                        <img class='mui-image -rounded' src='{{ post.thumb }}' alt='{{ post.title }} - post preview' itemprop='image'>
                                    </noscript>
                                </div>
                                <div class='mui-modal-window' id='modal-{{ modal_random_id }}'>
                                    <div class='window _shadow-3'>
                                        <div class='lazy-image-wrapper'>
                                            {% svg '{{ svgurl2 }}' class='mui-image -rounded -placeholder' %}
                                            <img class='mui-image -rounded -js-lazy-load' data-src='{{ post.thumb }}' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='{{ post.title }} - post preview' itemprop='image'>
                                        </div>
                                        <div class='closeicon'>
                                            <svg class='mui-svg-icon'>
                                                <use xlink:href='#mui-svg-icon--close'></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class='mui-shadow-toggle'></div>
                                </div>
                            </div>
                            <div class='mui-column -s12 -m8 _separate-1 _padding-lr-1'>
                                <a href='{{ post.url }}' aria-label='Post {{ post.title }}' itemprop='url'>
                                    <h3 class='_bigger-1' itemprop='headline'>{{ post.title }}</h3>
                                </a>
                                <div class='mui-row -grey-4 _smaller-1'>
                                    {% if post.icon == 'hotoncodepen' %}
                                        <span class='post-badge' title='Hot on CodePen'>
                                            <svg class='mui-svg-icon'>
                                                <use xlink:href='#mui-svg-icon--codepen'></use>
                                            </svg>
                                            <svg class='mui-svg-icon -red-3'>
                                                <use xlink:href='#mui-svg-icon--fire'></use>
                                            </svg>
                                        </span>&nbsp;
                                    {% endif %}
                                    {% if post.icon == 'achievement' %}
                                        <span class='post-badge' title='Achievement'>
                                            <svg class='mui-svg-icon -cyan-3'>
                                                <use xlink:href='#mui-svg-icon--gem'></use>
                                            </svg>
                                        </span>&nbsp;
                                    {% endif %}
                                    {% if post.icon == 'conversation' %}
                                        <span class='post-badge' title='Conversation'>
                                            <svg class='mui-svg-icon -blue-3'>
                                                <use xlink:href='#mui-svg-icon--conversation'></use>
                                            </svg>&nbsp;
                                        </span>
                                    {% endif %}

                                    {% if post.tags contains 'travel' %}
                                        <span class='post-badge' title='Travel'>
                                            <svg class='mui-svg-icon -green-4'>
                                                <use xlink:href='#mui-svg-icon--map'></use>
                                            </svg>
                                        </span>&nbsp;
                                    {% endif %}
                                    {% if post.tags contains 'podcast' %}
                                        <span class='post-badge' title='Podcast'>
                                            <svg class='mui-svg-icon -orange-4'>
                                                <use xlink:href='#mui-svg-icon--podcast'></use>
                                            </svg>
                                        </span>&nbsp;
                                    {% endif %}
                                    {% if post.tags contains 'publications' %}
                                        <span class='post-badge' title='Publication'>
                                            <svg class='mui-svg-icon -brown-4'>
                                                <use xlink:href='#mui-svg-icon--feather'></use>
                                            </svg>
                                        </span>&nbsp;
                                        {% if post.tags contains 'habrahabr' %}
                                            {% if post.rating > 0 %}
                                                <span class='post-badge -green-3' title='Rating on Habr.com'>+{{ post.rating }}&nbsp;</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {% if post.tags contains 'music' %}
                                        <span class='post-badge' title='Music'>
                                            <svg class='mui-svg-icon'>
                                                <use xlink:href='#mui-svg-icon--music'></use>
                                            </svg>
                                        </span>&nbsp;
                                    {% endif %}
                                    {% if post.tags contains 'psychology' %}
                                        <span class='post-badge' title='Psychology'>
                                            <svg class='mui-svg-icon -violet-3'>
                                                <use xlink:href='#mui-svg-icon--brain'></use>
                                            </svg>
                                        </span>&nbsp;
                                    {% endif %}
                                    <span itemprop='datePublished'>{{ post.date | date: '%B %-d, %Y' }}</span>
                                </div>
                                <div class='mui-tags-list'>
                                    <div class='mui-tag-wrapper -icon _smaller-1'>
                                        <svg class='mui-svg-icon'>
                                            <use xlink:href='#mui-svg-icon--tags'></use>
                                        </svg>
                                    </div>
                                    {{ commonTags }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}

        {% endif %}
    </div>
</div>
<!--googleon: index-->
<!--/noindex-->
<!-- /similar-posts -->



{% include projects.html %}

